<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock title %} - The Acme Co.</title>
    {% endblock head %}
</head>

<body>
    <h1>The Acme Co.</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}


    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <footer>
        {% block footer %} &copy; Copyright 2018 by
        <a href="http://ameco.com">The Acme Co</a>
        {% endblock footer %}
    </footer>
</body>

</html>
